*{
    margin: 0;
    font-family: Arial;
    border:border-box;
   
}
.navbar{
    height: 70px;
    background-color: #0f1111;
    color: white;
    /* This will do all content in the flex */
    display: flex;
    /* This will do all content in center */
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("https://www.vectorlogo.zone/logos/amazon/amazon-ar21.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    color: white;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}

/* Box 2 Sizing */
.ad-first{
    font-size: 0.80rem;
    color: #cccc;
    margin-left: 15px;
}
.ad-second{
    font-size: 1rem;
    color: white;
    margin-left: 3px;
}
.adress-icon{
    display: flex;
    align-items: center;
}

/* Box 3 Sizing */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    width: 600px;
    height: 40px;
    border-radius: 4px;

}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border: none;

}
.search-input{
    width: 500px;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* Box 4 Sizing */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Box 4 Sizing */
.nav-card i{
    font-size: 30px;
}
.nav-card{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel sizing */
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
   

   
    
    
}
.panel-ops p{
    padding: 50px;
display: inline;
justify-content: space-between;
font-size: 0.85rem;

}

/* Hero section */
.hero-section{
    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/Biss_2023/BISS_GW/GWNEW/3000x1200-A._CB603858112_.jpg");
    height: 400px;
  background-size: cover;
}

/* Shop content */
.shop-section{
    display: flex;
    justify-content: space-evenly;
   background-color: rgb(180, 149, 143);
}
.box{
    border: 2px solid black;
    height: 350px;
    width: 23%;
    background-color: rgb(248, 220, 220);
    padding: 20px 0px 15px;
    margin-top: 5px;
}

.box1-img{
    height: 300px;
background-size: cover;
margin-top: 1rem;
margin-bottom: 1rem;
   

}
.box2-img{
    height: 300px;
background-size: cover;
margin-top: 1rem;
margin-bottom: 1rem;
   

}
/* Footer sizing */
.footer{
    margin-top: 5px;
}
.foot-panel1{
    background-color: #374758;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.foot-panel2{
    color: white;
    background-color: #222f3d;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}
ui{
    margin-top: 10px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
}